body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 800px;
	margin: 0 auto; 
	background-color: #c8a2c8;
}

#nav_menu ul {
	background-color: #e6e6fa;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.image-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .image-container img {
	max-width: 80%;
	max-height: 80%;
  }

footer p {
	text-align: center;
	color: black;
	padding: 1em 0; 
}

footer {
	background-color: #e6e6fa;
	clear: both;
	margin-top: 20px; 
}
